*{
  margin: 0;
  padding: 0;
}
body{
  overflow: hidden;
  background-color: rgb(225, 231, 244);
}


/* card container stylings */

.container{
  position: relative;
  left:300px;
  top: 180px;
  width: 1350px;
  height: 500px;
  background-color: rgb(225, 231, 244);
  border: solid;
  border-width: 1rem;
  border-radius: 2rem;
  border-color: rgb(255, 255, 255);
}

.content{
  position: relative;
  padding: 4rem;
  width: 1250px;
  height:350px;

}

.heading{
  font-size: xx-large;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
  letter-spacing: 6px;
}

.amount{
  position: relative;
  display: inline-block;
  top: 3rem;
  font-weight: 700;
  letter-spacing: 0.6px;
  font-size: 20px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 272px;
}

.slider-1{
  position: relative;
  top:6rem;
  right: 17rem;
  width: 12rem;
  outline: none;
  appearance: none;
  border-radius: 1rem;
  
}

.slider-2{
  position: relative;
  top:6rem;
  right: 17rem;
  width: 12rem;
  outline: none;
  appearance: none;
  border-radius: 1rem;
  
}

.slider-3{
  position: relative;
  top:4.5rem;
  left:58rem;
  width: 12rem;
  outline: none;
  appearance: none;
  border-radius: 1rem;
  
}

.slider-1::-webkit-slider-runnable-track{
  cursor: pointer;
  overflow: hidden;
  border-radius: 10px;
}
.slider-1::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 16px;
  border-radius: 8px;
  background: #ffffff;
  cursor: pointer;
  border: 4px solid blueviolet;
  box-shadow: -407px 0 0 400px blueviolet;
}

.slider-2::-webkit-slider-runnable-track{
  cursor: pointer;
  overflow: hidden;
  border-radius: 10px;
}
.slider-2::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 16px;
  border-radius: 8px;
  background: #ffffff;
  cursor: pointer;
  border: 4px solid blueviolet;
  box-shadow: -407px 0 0 400px blueviolet;
}

.slider-3::-webkit-slider-runnable-track{
  cursor: pointer;
  overflow: hidden;
  border-radius: 10px;
}
.slider-3::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 16px;
  border-radius: 8px;
  background: #ffffff;
  cursor: pointer;
  border: 4px solid blueviolet;
  box-shadow: -407px 0 0 400px blueviolet;
}

.return-amount-negative{
  position: relative;
  top:9rem;
  font-weight: 700;
  letter-spacing: 0.6px;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: red;
}

.return-amount-positive{
  position: relative;
  top:9rem;
  font-weight: 700;
  letter-spacing: 0.6px;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: green;
}

.return-amount-zero{
  position: relative;
  top:9rem;
  font-weight: 700;
  letter-spacing: 0.6px;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: black;
}

.summary{
  position: relative;
  font-size: 12px;
  top:14rem;
  font-family:'Courier New', Courier, monospace;
  font-weight: bold;
  color: darkcyan;
  letter-spacing: 0.1rem;
}